$dotBg: #e0e0e0;
$colTitText: #e0e0e0;
$happyText: rgb(255, 255, 255);
$clintsLeftText: #a4a4a4;

.item-slide{
    width: 66px;
    margin: 0 auto;
}
.clints-slider-item{
    width: 100px;
    margin: 50px auto 0px;
}
.clints-sl-title{
    font-size: 16px;
    font-family: "Raleway";
    color: $colorRoze;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 15px 0px 15px;
}
.clints-slider{
    .owl-dots{
        margin-top: 0px!important;
        .owl-dot{
            background: none!important;
            span{
                margin: 0 3px!important;
                background: $dotBg!important;
            }
        }
        .owl-dot.active{
            span{
                background: $colorRoze!important;
            }
        }
    }
}
.clints{
    background: url(../img/clints-bg.jpg) no-repeat;
    background-size: cover;
}
.clints-wrap{
    padding-top: 100px;
    padding-bottom: 100px;
}
.clints-title{
    @include title();
    margin-bottom: 40px;
}
.clints-text{
    @include section-center-text($colTitText);
}
.clints-blocks{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.clints-left{
    margin-right: 30px;
    flex-basis: 50%;
}
.happy{
    font-size: 20px;
    font-family: "Raleway";
    color: $happyText;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
}
.clints-left-text{
    color: $clintsLeftText;
    font-size: 16px;
    font-family: "Lato";
    line-height: 1.375;
    text-align: center;
}
.clints-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    flex-basis: 50%;
}
.clints-right-img{
    height: 100%;
    width: 272px;
    display: block;
    object-fit: cover;
}

@media (max-width: 980px){
    .clints-blocks{
        flex-direction: column;
        margin-top: 50px;
    }
    .clints-left {
        margin-right: 0px;
        flex-basis: 100%;
    }
    .clints-right{
        width: 575px;
        margin: 60px auto 0px;
    }
}

@media (max-width: 680px){
    .clints-right{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .clints-right-img{
        width: 100%;
    }
    .clints-right-block{
        width: 272px;
        margin: 0 auto;
    }
}

@media (max-width: 480px){
    .clints-wrap{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .clints-blocks{
        margin-top: 30px;
    }
}
