.news-black{
    background-color: $servBg;
    overflow: hidden;
}
.news-black-wrap{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.twit-gray{
    position: absolute;
    bottom: -45px;
    left: -80px;
    opacity: 0.1;
    fill: $white;
}
.twit-roze{
    fill: $colorRoze;
    margin: 0 auto;
    display: block;
}
.news-black-text{
    font-size: 16px;
    font-family: "Lato";
    color: $happyText;
    line-height: 1.375;
    text-align: center;
    max-width: 645px;
    margin: 25px auto 0px;
}

@media (max-width: 480px){
    .news-black-wrap{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}